@import '../../../variables';

.address {
    color: $navbar-color;
    font-weight: 600;
    min-width: 70px;
    display: inline-block;
}

.yard-name {
    color: $navbar-color;

    &.active {
        ::ng-deep {
            .mat-checkbox {
                display: block !important;
            }

            .mat-checkbox-layout {
                width: 100%;
            }

            .mat-checkbox-label {
                width: 100%;
                color: $navbar-color !important;
            }

            .indicator {
                font-size: 11px;
                color: green !important;
                display: block;
                font-weight: bold;
            }
        }
    }

    &.inactive {
        ::ng-deep {
            .mat-checkbox {
                display: block !important;
            }

            .mat-checkbox-layout {
                width: 100%;
            }

            .mat-checkbox-label {
                width: 100%;
                color: $navbar-color !important;
            }

            .indicator {
                font-size: 11px;
                color: rgba(0, 0, 0, .54) !important;
                display: block;
                font-weight: bold;
            }
        }
    }
}

.addressCheck {
    align-items: center;
    padding-top: 4px;

    .check {
        vertical-align: middle;
        margin-bottom: 3px;
        color: green;
    }

    .red {
        color: red;
    }

    .disabled {
        color: rgb(168, 168, 168)
    }

    font-size: 16px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: green !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: green;
}