.container {
	border-top: 6px solid orange;
}
mat-card {
	flex: 1 1 auto;
	padding: 8px;
}
mat-card-content {
	border: 1px solid rgb(196, 196, 196);
	// border-left: 4px solid gray;
	padding: 5px;
}
.bold {
	font-weight: 500;
}
